{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Montserrat:wght@500&family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">


  <title>urlen</title>
</head>

<body>
  <section id = "nav-top" style="background-color: rgba(244, 246, 255, 1); z-index: 10">

      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style = "background-color: #f4f6ff; padding:0 6.5% 0 6.5%;">
        <a href = ""><img class = "img-head" src="{% static 'images/logo2.png'%}" width="100" height="100" class="d-inline-block align-center " alt="" loading="lazy"></a>
        <a class="navbar-brand" href="#">
          urlen
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contribute</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resources</a>
            </li>
          </ul></div>

      </nav>
      </div>

  </section>


  <section id = "body-top">
    <div class="row">
      <div class="col-lg-6 ">
        <h1>Need Shorter URLs?</h1>
        <p>Leverage our tool to shorten and provide URLs that are easier to remember</p>
        <form class="form-inline" method="post", action="{% url 'make' %}">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">URL:</span>
            </div>
              {% csrf_token%}
              {{form.long_url}}
            {{form.short_url}}
          </div>
            <button type="submit" class="btn btn-primary" name="button">Shorten</button>
          {% if a and a != 'Invalid Url' %}
            <div class="input-group-prepend">
              <span class="input-group-text"><a href="{% url 'home' a %}" class="btn btn-warning action-button">localhost:8000/{{a}}</a><a href="{% url 'copy' a 1%}"><i class="fa fa-copy" style="font-size:36px; margin-left: 20px"></i></a></button></span>
            </div>

          {%endif%}
          {% if b%}
            <div class="input-group-prepend">
              <span class="input-group-text"><a href="{% url 'home' b.short_url %}" class="btn btn-warning action-button">localhost:8000/{{b.short_url}}</a><a href="{% url 'copy' b 1%}"><i class="fa fa-copy" style="font-size:36px; margin-left: 20px"></i></a></span>
            </div>

          {%endif%}
        </form>
      </div>
<div class="col-lg-6  " >
    <img class = "major-img" src="{% static 'images/major.png'%}" alt="connected-img">
</div>

    </div>

  </section>
  <section id = "about">
    <h1>Built using Django Framework</h1>
    <h1>ahiahoafaf</h1>
    <h1>anlanfl</h1>
  </section>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>
